@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A1C7E0, #21c8dafb);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgb(2, 110, 129);
    padding: 10px;
    width: 600px;
    margin: auto;
}
h1{
    color: #FF9933; text-align: center;
    text-shadow: 2px 2px 3px #b06112;
}
h2{
    color: #026E81;
}
p{
    text-align: justify;
}